// 
// ==================================================/
body {
  @extend %system_normal--400;
}

h1 {
  display: none;
}

.item-id {
  background-color: #ccc;
}

// tabs1-01
// ==================================================/
// up to 3 tabs
.tabs1-01 {
  > div {
    @extend %padd--4;
    display: inline-block;
    border: 1px solid #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 2px;
    cursor: pointer;
  }

  .active {
    background-color: #666;
  }
}

.tabs1-01_content {
  @extend %padd--4;
  border: 1px solid #000;
  margin-top: -1px;
}

// tabs1-01 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-01 {
    > input[type="radio"] + label {
      width: 28%;
      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-01 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}

// tabs1-02
// ==================================================/
.tabs1-02 {
  > input[type="radio"] {
    position: absolute;
    left:-9999px;
    top:-9999px;
  }

  > input[type="radio"] + label {
    float: right;
    margin: 0 2px -1px 2px; /* trbl */
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;  
    border-radius: 3px 3px 0px 0px; /* tl tr br bl */ 
    padding: 5px 10px;
  }

  > input[type="radio"]:focus + label {
    border: 1px solid #000;
  }

  > input[type="radio"]:checked + label {
    font-weight: bold;
    border-bottom-color: #fff;  
  }

  > div {
    display: none;
    padding: 10px 10px;
    width: 100%;
    background-color: white;
    border: 1px solid black;  
    overflow: auto;
  }

  .tabs1-02_tab1:checked ~ .tabs1-02_content1, 
  .tabs1-02_tab2:checked ~ .tabs1-02_content2, 
  .tabs1-02_tab3:checked ~ .tabs1-02_content3 {
    display: block;
  }
}

// tabs1-02 media queries
// ==================================================/
// up to 3 tabs
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tabs1-02 {
    > input[type="radio"] + label {
      width: 28%;      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tabs1-02 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}


